<!DOCTYPE html>
<html>
<head>
    <title>Book App</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <nav>
        <a href="/books">Home</a>
        <a href="/books/new">Add Book</a>
    </nav>